<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <base href = "/">

    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="assets/logo.png" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body style="background-color: #c3f6fc">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <!-- Logo on the left (larger size) -->
        <a href="/" class="navbar-brand">
          <img
            src="/assets/FoothiesLogoTransparent.png"
            alt="Logo"
            style="width: calc(180px + 1vmin)"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#main-nav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="main-nav" class="collapse navbar-collapse">
          <ul class="navbar-nav mx-auto nav-justified">
            <li class="nav-item m-lg-4">
              <a href="/" class="nav-link fs-5 underline-on-hover">Home</a>
            </li>
            <li class="nav-item m-lg-4">
              <a href="/menu/all" class="nav-link fs-5 underline-on-hover">Menu</a>
            </li>
            <li class="nav-item m-lg-4">
              <a href="/contact" class="nav-link fs-5 underline-on-hover"
                >Contact</a
              >
            </li>
            <li class="nav-item m-lg-4">
              <a
                href="/rewards"
                class="nav-link link-primary active fs-5 underline-on-hover"
                >Rewards</a
              >
            </li>
          </ul>

          <!-- "Order Now" button -->
          <a class="btn btn-primary mx-lg-5 fs-5" href="/auth/login/please login first"
            >Order Now</a
          >

          <!-- Profile dropdown button with a circular person icon -->
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="profileDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-person fs-2"></i>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="profileDropdown"
            >
              <li>
                <a class="dropdown-item" id="loginButton" href="/auth/login"
                  >Login</a
                >
              </li>
              <li>
                <a class="dropdown-item" id="signupButton" href="/auth/register"
                  >Sign Up</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <h2 class="eyebrow">Foothies Rewards!</h2>
    <div style="background-color: #c3f6fc">
      <img
        src="assets/pink_smoothie_cup_transparent.png"
        style="padding-top: 40px; width: 50%; height: 50%; float: left"
      />
    </div>
    <div class="features-icons">
      <h3 class="headline ">Welcome to the Club</h3>
      <div class="container">
          <div class="col-lg-7">
            <p class="description">Finally! A refreshing rewards program that actually integrates seamlessly into your smoothie cravings. Support your Foothie journey with members-only benefits, efficient mobile ordering, exclusive online and in-app offers, and motivational content.</p>
          </div>
      </div>
    </div>

    <div class = "container">
      <div class="content-column">
        <h3 class="headline"><strong>Here Is How It Works</strong></h3>
      </div>
    </div>

    <div class="container marketing">
      <!-- Four columns of text above the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
          <h2 class="fw-normal">Any sign up bonus?</h2>
          <p>Get a <strong>$5 Reward</strong> when you first sign up</p>
        </div>
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
          <h2 class="fw-normal">Curious about gaining rewards?</h2>
          <p>Earn points for every purchase</p>
        </div>
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
          <h2 class="fw-normal">Wishing for more rewards?</h2>
          <p>Redeem rewards when you want or combine to save</p>
        </div>
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
          <h2 class="fw-normal">Hate waiting for your order?</h2>
          <p>Skip the longer wait with mobile/online ordering</p>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class = "container">
      <div class="content-column">
        <h1 class="headline"><strong>Foothie Benefits</strong></h1>
      </div>
    </div>

    <!-- Carousel structure for showing perks and rewards-->
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
          <div class="container">
            <div class="carousel-caption">
              <h1>Sign Up Bonus</h1>
              <p class="opacity-75">With Foothie Rewards, you'll receive a $5 Rewards immediately after signing up in store or onine.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
          <div class="container">
            <div class="carousel-caption">
              <h1>$1 Spent = 1 Point</h1>
              <p class="opacity-75">For every dollar you spend on us, you will receive a Foothie Point!</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
          <div class="container">
            <div class="carousel-caption">
              <h1>Free Birthday Foothie</h1>
              <p class="opacity-75">Enjoy a bonus birthday Foothie on us!</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
          <div class="container">
            <div class="carousel-caption">
              <h1>Want more Rewards?</h1>
              <p class="opacity-75">Earn the chance to redeem more after signing up</p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Bootstrap core JS-->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/carousel.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>